
<footer class="page-footer font-small special-color-dark">
    
<svg preserveAspectRatio="none" viewBox="0 0 100 100" width="100%" height="75px">
        <path d="M0 0 L50 100 L100 0 Z" fill="white"></path>
    </svg>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <a class="btn-floating btn-linkedin" href="https://www.linkedin.com/in/nicolas-lequeux-5b02806/" target="_blank"><i class="fab fa-linkedin-in white-text mr-md-5 mr-3"></i></a>                   
                    <a class="btn-floating btn-facebook" href="https://www.facebook.com/nicolas.lequeux.5" target="_blank"><i class="fab fa-facebook-f white-text mr-md-5 mr-3"></i></a>
                    <a class="btn-floating btn-instagram" href="https://www.instagram.com/nicolas_lequeux/" target="_blank"><i class="fab fa-instagram white-text mr-md-5 mr-3"></i></a>
                    <a class="btn-floating btn-git" href="https://github.com/nicolaslequeux" target="_blank"><i class="fab fa-github white-text mr-md-5 mr-3 fa-2x"></i></a>
                    <a class="btn-floating btn-email" href="mailto: nicolas.lequeux@nlxtech.com"><i class="fas fa-envelope white-text mr-md-5 mr-3 "></i></a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        NICOLAS LEQUEUX <i class="fas fa-cog fa-spin pink-text"></i> Designed 2019 &#xA9;
    </div>
</footer>

