<!-- Main navigation -->
<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container smooth-scroll">

      <a class="navbar-brand" href="#">Nicolas Lequeux</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Navbar -->
  <div id="intro" class="view jarallax" data-jarallax='{"speed": 0.35}'>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-stylish-strong d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container smooth-scroll">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 mb-4 white-text text-center">

            <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.4s">
              Hello, I'm <span style="color:#E31B6D">Nicolas Lequeux</span><br>Freelance full-stack web developper</h1>

            <br>

            <a class="btn btn-outline-white btn-rounded wow fadeInDown text-capitalize" href="#about" data-wow-delay="0.4s">Welcome</a>

          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->


</header>
<!-- Main navigation -->