<section id="portfolio" class="my-5 container">

    <h2 class="h1-responsive font-weight-bold text-center my-3 wow fadeInDown">Portfolio</h2>

    <p class="lead grey-text text-center w-responsive mx-auto mb-5 wow fadeInRight">There some of my recent
        realisations...</p>

    <div class="d-flex flex-wrap justify-content-center">

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img"
                src="assets/img/portfolio/43-nlxtech-2-min.png" alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>NLX TECHNOLOGIES Ltd</a></h4>
                    <p class="card-text text-center mb-0">Consulting in Algorithmic Trading</p>
                    <p class="card-text text-center">Mobirise - R/Shiny Server - Github pages</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                          href="https://github.com/nicolaslequeux/nlxtech"
                            target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="http://www.nlxtech.com" target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
<!--             <img class="card-img-top card-portfolio-img"
                src="assets/img/portfolio/smart-beta-3.png" alt="Card image cap"> -->
            <img class="card-img-top card-portfolio-img"
                src="assets/img/portfolio/43-portfolio-builder-min.png" alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Financial Dashboard ©</a></h4>
                    <!-- <p class="card-text text-center mb-0">Merging Trading Strategies</p> -->
                    <p class="card-text text-center">R/Shiny server - Yahoo Finance API</br>Heroku - MongoDB</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">

<!--                     <li class="list-inline-item"><a class="card-portfolio-link"
                      href="https://github.com/nicolaslequeux/nlx-shiny/tree/master/nlx-pp-input"
                      target="_blank"><i class="fab fa-github fa-lg"></i></a></li> -->

                    <li class="list-inline-item grey-text"><i class="fab fa-github fa-lg"></i> on request</li>

                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link"
                      href="https://nicolaslequeux.shinyapps.io/nlx-portfolio-builder/" target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img"
                src="assets/img/portfolio/smart-beta-4.png" alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Strategy Backtesting ©</a></h4>
                    <p class="card-text text-center mb-0">Gary Antonacci's GEM/GBM strategies</p>
                    <p class="card-text text-center">R/Shiny Server - Yahoo Finance API</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
<!--                     <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/nlx-shiny/tree/master/nlx-gbm-input"
                            target="_blank"><i class="fab fa-github fa-lg"></i></a></li> -->
                    <li class="list-inline-item grey-text"><i class="fab fa-github fa-lg"></i> on request</li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link"
                          href="https://nicolaslequeux.shinyapps.io/nlx-gbm-input/" target="_blank"><i
                          class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/nlx-portfolio.png"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>A small financial blog</a></h4>
                    <p class="card-text text-center">To help friends and family to manage a simple financial portfolio - Wordpress</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link" href="https://nlxportfolio.wordpress.com/about/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/works4me-min.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Works4Me</a></h4>
                    <p class="card-text text-center">A "TaskRabbit" platform developed on Rails</br>PostgreSQL - Devise - Strip - Action Mailer</br>(Le Wagon project)</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/works4me" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="http://www.works4me.site"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/43-nathalieball-min.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Nathalie Ball Conseil</a></h4>
                    <p class="card-text text-center">Personal website - Static page</br>Material Design for Bootstrap</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/nathalieball" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="http://www.nathalieball.com/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/43-nlx-fullstack-min.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Nicolas Lequeux</a></h4>
                    <p class="card-text text-center">Personal website - Jekyll - Gulp</br>Material Design for Bootstrap</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/nicolas-lequeux" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="http://nicolaslequeux.com"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/gatsby-tutorial-blog-1.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>GatsbyJS Blog Trial</a></h4>
                    <p class="card-text text-center">GatsbyJS - Boostrap for React - Disqus</br>Netlify hosting with continuous deployment</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/gatsby-tutorial-blog-1" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="https://vibrant-johnson-a318cb.netlify.com/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/react-burger.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Udemy React App</a></h4>
                    <p class="card-text text-center">React-router, axios, redux, authentication, lazzy loadinf, test Jest, Enzyme, firebase...</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/react-burger-app" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="https://react-burger-app-2020.web.app/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/nicofinanceblog-min.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>nicofinance.blog</a></h4>
                    <p class="card-text text-center">GatsbyJS - Boostrap for React</br>Netlify hosting with continuous deployment</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/nicofinance.blog" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="https://nicofinanceblog.netlify.com/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>


        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/udemy-nodejs-bookstore-min.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Shop with NodeJS</a></h4>
                    <p class="card-text text-center">Express/EJS - Auth/Email - Upload - Stripe</br>REST API - GraphQL...</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/udemy-nodejs-bookstore" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="https://udemy-nodejs-bookstore.herokuapp.com/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>




    </div>

</section>
