<section id="portfolio" class="my-5 container">

    <h2 class="h1-responsive font-weight-bold text-center my-5">Portfolio</h2>

    <p class="lead grey-text text-center w-responsive mx-auto mb-5">There some of my recent realisations...</p>

    <div class="d-flex flex-wrap justify-content-center">


        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img"
                src="assets/img/portfolio/nicolas.lequeux.shinyapps-nlx-aaa-input.png" alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Fund manager dashboard</a></h4>
                    <p class="card-text text-justify">R - Shiny Server - Yahoo Finance API</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/nlx-shiny/tree/master/nlx-aaa-input"
                            target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://nicolaslequeux.shinyapps.io/nlx-aaa-input/" target="_blank"><i
                                class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/nlx-portfolio.png"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>My financial blog</a></h4>
                    <p class="card-text text-justify">Wordpress - Back-test and studies in R</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link" href="https://nlxportfolio.com/about/"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="assets/img/portfolio/works4me.png.png" target="_blank"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Works4Me</a></h4>
                    <p class="card-text ">A "TaskRabbit" platform developped on Rails, PostgreSQL, Devise, Strip, Action
                        Mailer, Heroku (Le Wagon project)
                    </p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"
                            href="https://github.com/nicolaslequeux/works4me" target="_blank"><i
                                class="fab fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link" href="http://www.works4me.site"
                            target="_blank"><i class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Consultant Portfolio</a></h4>
                    <p class="card-text text-justify">MDBoostrap - Gulp - jQuery Lorem ipsum dolor sit</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"><i class="fab fa-github fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link"><i
                                class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card card-portfolio m-4">
            <img class="card-img-top card-portfolio-img" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap">
            <div class="card-body">
                <div class="card-portfolio-text">
                    <h4 class="card-title text-center"><a>Consultant Portfolio</a></h4>
                    <p class="card-text text-justify">MDBoostrap - Gulp - jQuery Lorem ipsum dolor sit</p>
                </div>
                <ul class="list-inline text-center card-portfolio-list-link">
                    <li class="list-inline-item"><a class="card-portfolio-link"><i class="fab fa-github fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a class="card-portfolio-link"><i
                                class="fas fa-external-link-alt fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

</section>