<section id="portfolio" class="my-5 container">

    <h2 class="h1-responsive font-weight-bold text-center my-5">Portfolio</h2>

    <div class="d-flex flex-wrap justify-content-center">

        <div class="card-wrapper ">
            <div id="card-1" class="card card-rotating text-center m-3">
                <div class="face front">
                    <div class="card-up">
                        <a class="rotate-btn" data-card="card-1"><img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt=""></a>
                    </div>
                </div>
                <div class="face back">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Tools</h4>
                        <hr>
                        <p>Lorem ipsum dolor sit amet mi magni, ipsate quod.</p>
                        <hr>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="p-2 fa-lg tw-ic"><i class="fab fa-github"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i
                                        class="fas fa-external-link-alt"></i></a></li>
                            <li class="list-inline-item"><a class="p-2 rotate-btn" data-card="card-1"><i
                                        class="fas fa-undo"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-wrapper ">
            <div id="card-1" class="card card-rotating text-center m-3">
                <div class="face front">
                    <div class="card-up">
                        <a class="rotate-btn" data-card="card-1"><img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt=""></a>
                    </div>
                </div>
                <div class="face back">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Tools</h4>
                        <hr>
                        <p>Lorem ipsum dolor sit amet mi magni, ipsate quod.</p>
                        <hr>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="p-2 fa-lg tw-ic"><i class="fab fa-github"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i
                                        class="fas fa-external-link-alt"></i></a></li>
                            <li class="list-inline-item"><a class="p-2 rotate-btn" data-card="card-1"><i
                                        class="fas fa-undo"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</section>