/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

#about,
#portfolio {
    /* height: 1000px; */
    padding-top: 50px;
    min-height: 800px;
}


@media (max-width: 740px) {

    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

/* @media (max-width: 991px) {
    .navbar: not(.top-nav-collapse)
} */


#intro {
    background-image: url('../img/landing-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.btn:hover {
    background-color: #E31B6D !important;
}


/* About page */

.alias-nicolas {
    width: 10rem;
    height: 10rem;
}

.skill-img {
    width: 4rem;
    height: 4rem;
}


/* Portfolio Cards */

.card-portfolio {
    width: 20rem;
    height: 26rem;
}

.card-portfolio-img {
    height: 15rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-portfolio-text {
    height: 7rem;
}

.card-portfolio-link {
    color: black;
}

.card-portfolio-link i:hover {
    color: #E31B6D;
}
